@{
    ViewData["Title"] = "Home Page";
}

@* this model is bound *@

@model BookstoreListViewModel

    <h1>The books we have: </h1>
        
    @foreach (Book p in Model.Books)
{
    <partial name="BookstoreSummary" model="p"/>
}

<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn" 
    page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>